strong{
    font-weight:bold;
    color: hsl(14,33%,57%);
}

.fixed {
    position: fixed;
    top: 60px;
    z-index: 9999;
}

.ui.grid {
    margin: 0px;
}

.ui.black.big.launch span.text {
    display: none;
}

@media (max-width: 800px) {
    .two.wide.column.hide-sm {
        display: none;
    }

    .twelve.wide.column.sm-expand {
        width: 100% !important;
    }
}

.send-inbox-sent-menu {
    display: inline-block;
    position: relative;
    top: 6px;
    margin-bottom: 12px;
}

.send-inbox-sent-menu .send.icon {
    margin-left: 10px;
}

.email-preview{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
}

.search-box {
    display: inline-block;
    float: right;
}

.mail-sender {
    display: inline-block;
    width: 200px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.hidden{
    display: none;
}

.mail-vertical-separator {
    display: inline-block;
    width: 10px;
}

.mail-title {
    font-weight: bold  !important;
    width: 220px !important;
    overflow-x: hidden  !important;
    text-overflow: ellipsis  !important;
    display: inline-block  !important;
}

.segment.mail-item {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mail-ico {
    margin-right: 6px !important;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.ui.image.label.email {
    top: -15px;
}

.width100 {
    width: 100% !important;
}

.width10 {
    width: 10% !important;
}

.height300{
    height:300px;
}

.view-list{
    top:-11px !important;
}